$white: #ffffff;
$black:  #0b0b0b;
$greylady: #aeadae;
$green: rgb(32, 173, 150);
$greenlight: rgb(43, 199, 173);
$brownemperor: #504442;
$red: #cb1917;
$brown: rgb(173, 111, 91);
$yellowocra: rgb(255, 190, 107);
$blueroyal: rgb(68, 115, 238);
$darkblue: rgb(70, 65, 112);
$greyDark: rgb(140, 137, 162);



// to import variables in other files!

// @import "../assets/temporary/variables";
